body {
    font-family: Shabnam;
}
.white {
    color: white;
}
.black {
    color: black;
}
.purple {
    color: #4c0d6b
}
.light-blue-background {
    background-color: #3ad2cb
}
.white-background {
    background-color: white;
}
.dark-green-background {
    background-color: #185956;
}
.font-bold {
    font-weight: 800;
}
.font-light {
    font-weight: 200;
}
.font-medium {
    font-weight: 600;
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-align-right {
    text-align: right;
}
.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}
.no-list-style {
    list-style: none;
}
.clear-input {
    outline: none;
    border: none;
}
.border-radius {
    border-radius: 9px;
}

.has-transition {
    -webkit-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}


button:focus {outline:0;}
input[type="button"]{
  outline:none;
  padding: 0;
  border: none;
  box-shadow: 0 2px 80px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease-in-out;
}
input[type="button"]::-moz-focus-inner {
  padding: 0;
  border: none;
}

button[type="submit"]{
  outline:none;
  padding: 0;
  border: none;
  box-shadow: 0 2px 80px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease-in-out;
}
button[type="submit"]::-moz-focus-inner {
  padding: 0;
  border: none;
}

.flex-center{
  display: flex;
  align-items: center;
}
.flex-middle{
  display: flex;
  justify-content: center;
}
.purple-font{
  color: rgb(91,85,155);
}
.blue-font{
  color: rgb(68,209,202);
}
.grey-font{
  color:rgb(150,150,150);

}
.light-grey-font{
  color:  rgb(148,148,148);
}
.black-font{
  color: black;
}
.white-font{
  color: white;
}
.pink-font{
  color: rgb(240,93,108);
}
.pink-background{
  background: rgb(240,93,108);
}
.purple-background{
  background: rgb(90,85,155);
}
.text-align-center{
  text-align: center;
  direction: rtl;
}

.text-align-right{
  text-align: right;
  direction: rtl;
}
.margin-auto{
  margin: auto;
}
.no-padding{
  padding: 0;
}
.icon-cl{
  max-height: 7vh;
  max-width: 7vw;
}
.flex-row-rev{
  display: flex;
  text-decoration: none;
  flex-direction: row-reverse;
}
.flex-row-rev:hover {
  text-decoration: none;
}

.mar-5{
  margin: 5%;
}
.padd-5{
  padding: 5%;
}

.mar-left{
  margin-left: 5.5vw;
  margin-bottom: 5vh;
}
.mar-top{
  margin-top: 3vh;
}
.mar-bottom{
  margin-bottom: 13%;
  margin-left: 2.5vw;
  width: 93% !important;
}
.blue-button {
  width: 13vw;
  height: 5vh;
  margin: auto;
  background: rgb(68,209,202);
  border-radius: 10px;
  padding: 3%;
}
.icons-cl{
  width: 3vw;
  height: 5vh;

}

.mar-top-10{
  margin-top: 2%;
}

input[type="button"]:hover{
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}
button[type="submit"]:hover{
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}


input[type="button"]:focus{
  box-shadow: 0 0px 40px rgba(0,0,0,0.15);
}
button[type="submit"]:focus{
  box-shadow: 0 0px 40px rgba(0,0,0,0.15);
}


/*dropdown css codes*/
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  left: 2vw;
  top: 7.5vh;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.price-heading {
  display: inline-block;
  width: 100%;
}
/*media queries for responsive utilities*/

@media all and (max-width:768px){
  .main-form {
    margin-bottom: 34%;
    margin-top: -12%;
  }
  .mar-left{
    margin: 0;
  }

  .blue-button {
    width: 50vw;
    height: 5vh;
    margin: auto;
    background: rgb(68,209,202);
    border-radius: 10px;
    padding: 3%;
  }
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    left: 12vw;
    top: 10vh;
  }

}
