@import '../../styles/mixins';

.loader {
  position: fixed;
  font-family: IRSans, serif;
  z-index: 10;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  display: none;
  top: calc(50% - 85px);
  left: calc(50% - 70px);

  @include shadowed;

  img {
    width: 100px;
  }

  .loader-info {
    direction: rtl;
    padding-top: 10px;
    text-align: center;
  }

  &.loading {
    display: block;
  }
}
