@import '../../styles/index.scss';
@import '../../styles/mixins';
@import '../../../public/font-awesome.css';

@media only screen and (max-width: 480px) {
  #recaptcha_challenge_image {
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
  }

  #recaptcha_response_field {
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
  }

  .recaptchatable #recaptcha_image {
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
  }

  .recaptchatable .recaptcha_r1_c1,
  .recaptchatable .recaptcha_r3_c1,
  .recaptchatable .recaptcha_r3_c2,
  .recaptchatable .recaptcha_r7_c1,
  .recaptchatable .recaptcha_r8_c1,
  .recaptchatable .recaptcha_r3_c3,
  .recaptchatable .recaptcha_r2_c1,
  .recaptchatable .recaptcha_r4_c1,
  .recaptchatable .recaptcha_r4_c2,
  .recaptchatable .recaptcha_r4_c4,
  .recaptchatable .recaptcha_image_cell {
    margin: 0 !important;
    width: 100% !important;
    background: none !important;
    height: auto !important;
  }
}

.login-panel {
  margin-top: 100px;
  min-height: 100px;
  min-width: 100%;
  background-color: white;
  padding: 30px;

  @include slideFromTop;
  @include shadowed;

  .login-panel-header {
    margin-bottom: 50px;
    text-align: center;

    .navigation-bar-logo {
      width: 50%;
    }

    .logo-info {
      color: #b2b2b2;
      font-size: 1.2rem;
    }
  }

  .login-panel-body {
    margin-bottom: 20px;
    text-align: center;

    .login-panel-inputs {
      margin: 10px 0;

      input {
        font-family: IRSans, serif;
        border: none;
        border-radius: 0;
        color: #000;
        font-weight: 300;
        font-size: 1.125rem;
        text-align: center;
        padding: 0 10px;
        width: 80%;
        height: 50px;
        margin-bottom: 10px;
        -webkit-transition: border 500ms ease-out;
        -moz-transition: border 500ms ease-out;
        -o-transition: border 500ms ease-out;
        transition: border 500ms ease-out;
        border-bottom: 1px solid #b2b2b2;

        &:hover {
          border-bottom: 1px solid #000;
        }
      }
    }

    .rc-anchor-compact-footer {
      text-align: center;
    }

    .rc-anchor-logo-landscape {
      margin: 0 auto;
    }

    .g-recaptcha {
      margin: 10px;
    }

    .g-recaptcha > div {
      margin: 0 auto;
    }

    .submit-button {
      font-family: IRSans, serif;
      border: none;
      display: block;
      margin: 0 auto;
      background-color: #000;
      color: white;
      height: 40px;
      text-align: center;
      padding: 20px;
      line-height: 0;
      font-size: 1.125rem;
      width: 80%;
      cursor: pointer;

      @include unselectable;
      @include round(5px);

      &.active {
        background-color: #000;
      }

      &:active {
        position: relative;
        top: 2px;
      }
    }
  }
}

