@import '../../styles/index.scss';
@import '../../styles/mixins';
@import '../../../public/font-awesome.css';

.search-box {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  min-height: 100px;
  min-width: 100%;
  background-color: white;
  padding: 30px;

  @include shadowed;

  .search-box-inputs {
    margin: 10px 0 30px;
    text-align: center;

    input {
      font-family: IRSans, serif;
      border: none;
      border-radius: 0;
      color: #000;
      font-weight: 700;
      font-size: 1.125rem;
      text-align: center;
      padding: 0 10px;
      width: 80%;
      height: 50px;
      margin-bottom: 10px;
      -webkit-transition: border 500ms ease-out;
      -moz-transition: border 500ms ease-out;
      -o-transition: border 500ms ease-out;
      transition: border 500ms ease-out;
      border-bottom: 1px solid #b2b2b2;

      &:hover {
        border-bottom: 1px solid #000;
      }
    }
  }

  .search-box-submit-button {
    margin: 50px auto 0;
    background-color: #000;
    color: #fff !important;
    height: 40px !important;
    text-align: center !important;
    padding: 20px !important;
    line-height: 0 !important;
    font-size: 1rem !important;
    width: 80% !important;
    cursor: pointer;

    @include unselectable;
    @include roundForce(5px);

    &:active {
      position: relative;
      top: 2px;
    }
  }
}

.search-results {
  margin-top: 50px;

  .search-result {
    display: block;
    cursor: pointer;
    margin-bottom: 50px;
    font-weight: 700;
    background-color: white;
    padding: 30px;
    direction: rtl;
    text-align: right;
    text-decoration: none;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}

