@font-face {
  font-family: Shabnam;
  src: url(/fonts/Shabnam-Light.eot);
  src: url(/fonts/Shabnam-Light.eot?#iefix) format("embedded-opentype"), url(/fonts/Shabnam-Light.woff) format("woff"), url(/fonts/Shabnam-Light.ttf) format("truetype");
  font-weight: 100
}
@font-face {
  font-family: Shabnam;
  src: url(/fonts/Shabnam.eot);
  src: url(/fonts/Shabnam.eot?#iefix) format("embedded-opentype"), url(/fonts/Shabnam.woff) format("woff"), url(/fonts/Shabnam.ttf) format("truetype");
  font-weight: 600
}
@font-face {
  font-family: Shabnam;
  src: url(/fonts/Shabnam-Bold.eot);
  src: url(/fonts/Shabnam-Bold.eot?#iefix) format("embedded-opentype"), url(/fonts/Shabnam-Bold.woff) format("woff"), url(/fonts/Shabnam-Bold.ttf) format("truetype");
  font-weight: 700
}
