@import 'fonts';
@import 'mixins';

body,
html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: IRSans, serif;
}

input {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }

  &:focus {
    outline: none;
  }
}

.toast {
  direction: rtl;
  text-align: right;

  @include shadowed;
}
