@import '../../components/variables.css';
@import '../../styles/index.scss';
@import '../../styles/mixins';

.not-found-box {
  margin-top: 100px;
  direction: rtl;
  font-weight: 700;
  text-align: center;
  color: #a94442;
  background-color: white;
  border-radius: 5px;
  padding: 20px 50px;
  width: 100%;

  @include shadowed;
}
