@import '../../styles/index.scss';
@import '../../styles/mixins';
@import '../../../public/bootstrap.css';
@import '../../../public/font-awesome.css';

.login-panel-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .g-recaptcha > div {
    width: 100% !important;
    height: 100px;
  }

  &.loading {
    @include blur(5px);
  }

  .login-panel-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #0b8fdb, #06a9f3);

    .row {
      text-align: center;
    }
  }

  .login-panel {
    margin-top: 100px;
    min-height: 100px;
    min-width: 100%;
    padding: 30px 20%;

    .login-panel-header {
      margin-bottom: 50px;
      text-align: center;

      .navigation-bar-logo {
        width: 50%;
      }

      .logo-info {
        color: #b2b2b2;
        font-size: 1.2rem;
      }
    }

    .login-panel-body {
      margin-bottom: 20px;
      text-align: center;

      .login-panel-inputs {
        margin: 10px 0 30px;

        input {
          border: none;
          color: white;
          background: none !important;
          font-weight: 300;
          font-size: 1.3rem;
          text-align: right;
          padding: 0 10px;
          width: 100%;
          height: 50px;
          margin-bottom: 10px;
          border-bottom: 2px solid white;

          &::placeholder {
            color:white;
          }
        }

        input:-webkit-autofill {
          background-color: black;
          -webkit-box-shadow: 0 0 0 30px white inset;
        }
      }

      .submit-btn {
        margin: 0 auto;
        background-color: white;
        color: #0b8fdb;
        height: 50px;
        text-align: center;
        padding: 20px;
        border: none;
        outline: none;
        line-height: 1;
        border-radius: 0;
        font-size: 1.6rem;
        margin-top: 13%;
        width: 100%;
        cursor: pointer;

        @include unselectable;

        &:active {
          position: relative;
          top: 2px;
        }
      }
    }

    .login-footer {
      margin: 50px -20px -10px -20px;
      text-align: center;

      .links {
        width: 100%;

        a {
          padding: 10px;
          font-size: 1.2rem;
          cursor: pointer;
          color: #b2b2b2;
          text-decoration: none;

          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

