@import '../../styles/index.scss';
@import '../../styles/mixins';
@import '../../../public/font-awesome.css';

.navigation-bar {
  z-index: 10;
  background-color: black;
  height: 50px;
  line-height: 50px;
  width: 100%;
  color: white;
  position: fixed;
  text-align: center;

  @include shadowed;

  .navigation-bar-name {
    cursor: pointer;
    float: right;
    display: inline-block;
  }

  .navigation-bar-item {
    cursor: pointer;
    float: left;
    display: inline-block;
  }
}

