@font-face
  font-family: iransans
  src: url(../fonts/IRANSans/IRANSans-UltraLight-web.eot)
  src: url(../fonts/IRANSans/IRANSans-UltraLight-web.eot?#iefix) format("embedded-opentype"), url(../fonts/IRANSans/IRANSans-UltraLight-web.woff) format("woff"), url(../fonts/IRANSans/IRANSans-UltraLight-web.ttf) format("truetype"), url(../fonts/IRANSans/IRANSans-UltraLight-web.woff) format("svg")
  font-weight: 100


@font-face
  font-family: iransans
  src: url(../fonts/IRANSans/IRANSans-Light-web.eot)
  src: url(../fonts/IRANSans/IRANSans-Light-web.eot?#iefix) format("embedded-opentype"), url(../fonts/IRANSans/IRANSans-Light-web.woff) format("woff"), url(../fonts/IRANSans/IRANSans-Light-web.ttf) format("truetype"), url(../fonts/IRANSans/IRANSans-Light-web.woff) format("svg")
  font-weight: 400


@font-face
  font-family: iransans
  src: url(../fonts/IRANSans/IRANSans-Medium-web.eot)
  src: url(../fonts/IRANSans/IRANSans-Medium-web.eot?#iefix) format("embedded-opentype"), url(../fonts/IRANSans/IRANSans-Medium-web.woff) format("woff"), url(../fonts/IRANSans/IRANSans-Medium-web.ttf) format("truetype"), url(../fonts/IRANSans/IRANSans-Medium-web.woff) format("svg")
  font-weight: 600


@font-face
  font-family: iransans
  src: url(../fonts/IRANSans/IRANSans-Bold-web.eot)
  src: url(../fonts/IRANSans/IRANSans-Bold-web.eot?#iefix) format("embedded-opentype"), url(../fonts/IRANSans/IRANSans-Bold-web.woff) format("woff"), url(../fonts/IRANSans/IRANSans-Bold-web.ttf) format("truetype"), url(../fonts/IRANSans/IRANSans-Bold-web.woff) format("svg")
  font-weight: 700

body
  margin: 0
  padding: 0
  font-family: Arial, Helvetica, sans-serif
  font-size: 14px
  color: #fff
  height: 100vh
  background-image: url('../images/back.png')
  background-position: -1px 1px
  background-size: 100% 105%
  background-repeat: no-repeat

.index
  width: 40%
  margin: 137px auto
  padding: 10px
  /* background: linear-gradient(to top, rgb(18, 18, 23), rgb(46, 70, 95));
  background-color: #9c9ea0
  border-radius: 2px
  text-align: center
  box-sizing: border-box
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.26)
  code
    padding: 3px 6px
    color: #000
    background: #fff
    font-size: 14px
  img
    margin: 40px auto
    border-radius: 4px
    /*background: #fff;
    max-width: 187px
    position: relative
    display: block
.g-recaptcha > div
  margin: auto
  margin-bottom: 5%
.notice
  margin: 20px auto
  padding: 15px 0
  text-align: center

input
  background-color: #283947
  width: 71%
  height: 39px
  margin-bottom: 5%
  border: 1px solid grey
  color: white
  display: block
  margin-left: auto
  margin-right: auto
  position: relative

.buttonDesign
  color: white
  background-color: #52abce
  border: #1e9fda
  width: 22%
  padding: 7px
  font-size: 19px
  outline: none
  font-family: iransans
  cursor: pointer

.glowing-border
  &:focus
    outline: none
    border-color: #9ecaed
    box-shadow: 0 0 10px #9ecaed
.logoBig
  max-width: 28%
  position: absolute
  top: 8.9%
  left: 9%
  transform: translate(3%,1%)

@media (max-width: 1457px)
  .logoBig
    max-width: 34%
    position: absolute
    top: 14.9%
    left: 7%
    transform: translate(3%, 1%)

@media (max-width: 728px)
  .index
    width: 83%
    img
      max-width: 100px
  .logoBig
    top: 26.9%



